*,
*::before,
*::after {
 box-sizing: inherit;
}

td {
  font-family: Baskerville, serif;
  font-size: 130px;
  border: 3px solid black;
  min-width: 150px;
  height: 150px;
  text-align: center;
  cursor: pointer;

}
.container {
  width: 495px;
  height: 100%;
  margin: auto;
}

.message{
  height: 35px;
  text-align: center;
}

h1, h2{
  margin: 0;
}

.score{
  height: 75px;
}

.centerScores {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.xScore{
  height:100%;
  border-collapse: collapse;
  margin: 0 auto;
  width: 33%;
  text-align: center;
  float: left;
  position: relative;
}

.oScore{
  height: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  width: 33%;
  text-align: center;
  float: left;
  position: relative;
}

.resetButton{
  height: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  width: 33%;
  text-align: center;
  float: left;
  position: relative;
}

button {
  position: absolute;
  vertical-align: middle;
  border-radius: 5px;
  width: 88px;
  margin: auto;
  height: 26px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

p {
    position: absolute;
    vertical-align: middle;
    margin: auto;
    height: 36px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

span{
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
}

table {
    border-collapse: collapse;

}
