*,
*::before,
*::after {
 box-sizing: inherit;
}

@font-face {
        font-family: "score-board";
        src: url(/Users/Macbook/desktop/Bitmaker/Lessons/Projects/ticTacToe/fonts/advanced_led_board-7.ttf);
}

@font-face {
  font-family: "necrotype";
  src: url(/Users/Macbook/desktop/Bitmaker/Lessons/Projects/ticTacToe/fonts/Necrotype.ttf);
}


body {
    background-color: black;
}

td {
    font-family: Gravitas One;
    font-size: 127px;
    /* border: 3px solid chartreuse; */
    min-width: 150px;
    height: 150px;
    text-align: center;
    cursor: pointer;
    color: oldlace;
    box-shadow: 0px 0px 1px 1px chartreuse;
}

/*#2 {
  border-top: none;
  border-left: none;
}

#9 {
  border-left: none;
}

#4 {
  border-left: none;
  border-bottom: none;
}

#7 {
  border-top: none;
}

#6 {
  border-top: none;
  border-right: none;
}

#1 {
  border-right: none;
}

#3 {
  border-bottom: none;
}

#8 {
  border-right: none;
  border-bottom: none;
}*/
.container {
    width: 495px;
    height: 625px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.messageContainer {
  height: 75px;
}
.message{
  height: 58px;
  text-align: center;
}

.mainTitleContainer {
  height: 33px;
}

#mainTitle {
    margin: 0;
    color: white;
    letter-spacing: 2px;
    height: 42px;
    font-family: score-board;
    font-size: 40px;
    box-shadow: none;
    padding-top: 8px;
}
.score {
    height: 75px;
    width: 94%;
    margin: 0 auto;
}

.centerScores {
  margin-left: 6px;
  width: 100%;
  height: 100%;
}

.xScore{
  height:100%;
  border-collapse: collapse;
  margin: 0 auto;
  width: 33%;
  text-align: center;
  float: left;
  position: relative;
}

.oScore{
  height: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  width: 33%;
  text-align: center;
  float: left;
  position: relative;
}

.resetButton{
  height: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  width: 33%;
  text-align: center;
  float: left;
  position: relative;
}

button {
    position: absolute;
    vertical-align: middle;
    border-radius: 0px;
    border-style: none;
    width: 106px;
    margin: auto;
    margin-left: 20px;
    height: 27px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 21px;
    color: black;
    background-color: gainsboro;
    font-family: score-board;
    font-weight: 500;
    box-shadow: 0px 0px 2px 2px gainsboro;
    letter-spacing: 1px;
    padding-top: 9px;
    padding-left: 9px;
    letter-spacing: 2px;
}

p {
    position: absolute;
    vertical-align: middle;
    margin: auto;
    height: 36px;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    color: ivory;
    font-family: score-board;
    font-size: 24px;
    border: 0px solid whitesmoke;
    box-shadow: 0px 0px 3px 1px ghostwhite;
    padding-top: 9px;
}

#mainMessage {
    position: static;
    border: none;
    box-shadow: none;
    color: chartreuse;
    font-family: score-board;
    font-size: larger;
    margin-top: 17px;
}

span {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  color: crimson;
}

table {
    border-collapse: collapse;

}
